<td><button {{action "removeCurrentIntervalAction" }}>remove</button></td>
<td>{{ interval.reps }}</td>
<td>X</td>
<td>{{ interval.distancePerRep }}</td>
<td>{{ interval.paceInSeconds }}</td>
<td>{{ interval.restPerRepInSeconds }}</td>
<td>{{ interval.stats.totalDistance }}</td>
<td>{{round interval.stats.sTSS decimals=3}}</td>
<td>{{round interval.stats.totalSwimTimeInSeconds decimals=0}}</td>
<td>{{round interval.stats.totalRestTimeInSeconds decimals=0}}</td>
<td>{{round interval.stats.intensity decimals=3}}</td>
<td><button {{action "editCurrentIntervalAction" }}>edit</button></td>
