<label>FTP swim (s/100): {{input type="text" value=model.ftpPaceInSeconds }}</label>
<button {{action "addIntervalAction" model }}>Add Another Interval</button>
<table>
  <thead>
    <tr>
      <th>Reps</th>
      <th></th>
      <th>Distance</th>
      <th>Pace (s/100)</th>
      <th>Rest (s)</th>
      <th>Total Distance</th>
      <th>sTSS</th>
      <th>sTSS without rounding</th>
      <th>swim time (s)</th>
      <th>rest time (s)</th>
      <th>intensity</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.intervals as |interval| }}
      {{swimtss-interval-form-row interval=interval}}
    {{/each}}
  </tbody>
</table>
<button {{action "addIntervalAction" model }}>Add Another Interval</button>
<table>
  <tr>
    <th>sTSS:</th>
    <td>{{ model.stats.sTSS }}</td>
  </tr>
  <tr>
    <th>IF:</th>
    <td>{{ model.stats.IF }}</td>
  </tr>
  <tr>
    <th>Time:</th>
    <td>{{ model.stats.TimeInMinutes }} min</td>
  </tr>
  <tr>
    <th>Distance:</th>
    <td>{{ model.stats.Distance }}</td>
  </tr>
</table>
{{outlet}}
