<label>FTP swim (s/100): {{input type="text" value=model.workout.ftpPaceInSeconds }}</label>
{{swimtss-interval-form interval=model.selectedIntervalForEdit onOK=(action "onEditSave") onCancel=(action "onEditCancel")}}
<table>
  <thead>
    <tr>
      <th></th>
      <th>Reps</th>
      <th></th>
      <th>Distance</th>
      <th>Pace (s/100)</th>
      <th>Rest (s)</th>
      <th>Total Distance</th>
      <th>sTSS</th>
      <th>swim time (s)</th>
      <th>rest time (s)</th>
      <th>intensity</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each model.workout.intervals as |interval| }}
      {{swimtss-interval-table-row interval=interval onRemove=(action "removeIntervalAction" interval) onEditRequest=(action "intervalEditRequested" interval) selectedInterval=model.selectedInterval}}
    {{/each}}
  </tbody>
</table>
{{#let model.workout.stats as |stats| }}
  <table>
    <tbody>
      <tr>
        <th>sTSS:</th>
        <td>{{ stats.sTSS }}</td>
      </tr>
      <tr>
        <th>IF:</th>
        <td>{{ stats.IF }}</td>
      </tr>
      <tr>
        <th>Time:</th>
        <td>{{round stats.TimeInSeconds decimals=0}} s</td>
      </tr>
      <tr>
        <th>Distance:</th>
        <td>{{ stats.Distance }}</td>
      </tr>
    </tbody>
  </table>
{{/let}}
{{outlet}}
